<header>
    <span class="header-logo">BM</span>
    <ul class="link-navigation">
        <li><a href="#">Start</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>