<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#060606">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/app.bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
</head>
<body class="loading">
    <%- include('pages/'+page, {}); %>
    <% if (dev) { %>
        <%- include('components/wsClient.ejs', {}); %>
    <% } %>
    <div id="page-loader" class="page-loader__wrapper">
        <div class="page-loader__spinner"><div class="icon"></div></div>
    </div>
    <script>
        setTimeout(() => {
            document.body.classList.remove("loading")
            document.getElementById("page-loader").remove()
        },300);
    </script>
    <script src="./assets/js/glsl.shaders.js"></script>
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@latest/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@latest/examples/jsm/"
            }
        }
    </script>
    <script type="module" src="./assets/jsm/threejs-background.js"></script>
    <script type="module" src="./assets/jsm/threejs-aboutme.js"></script>

    <script src="./assets/js/chunk-vendors.bundle.js"></script>
    <script src="./assets/js/app.bundle.js"></script>
</body>
</html>