@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
    --bg-color: rgb(10, 10, 10);
    --text-color: #eee;
    --text-secondary: #bebebe;
}

* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/

    background: var(--bg-color);
    color: var(--text-color);
}

#threejs {
    width: 100%;
    height: 100%;
    opacity: .1;
    position: fixed;
    top: 0;
}

#photo-liquid canvas {
    width: 100%;
}

body.loading {
    overflow: hidden;
}

.page-loader__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 9999;
}

.page-loader__spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 700ms linear infinite;
}

.page-loader__spinner .icon{
    width: 60px;
    height: 60px;
    border:  solid 7px transparent;
    border-top-color:  #fff !important;
    border-left-color: #fff !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}
  
.btn {
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
    background: transparent;
    color: #fff;
    font-size: 14px;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 20px;
    transition: all 0.2s linear;
}

.btn:hover {
    color: black;
    background: #fff;
    border-color: white;
}

.btn__active {
    color: black;
    background: #fff;
    border-color: white;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 4;
    background-color: var(--bg-color);
}

header .header-logo {
    display: inline-block;
    font-family: 'Megrim', cursive;
    font-size: 2.3rem;
    padding: 10px;
    font-weight: bold;
}

header .link-navigation {
    float: right;
}

header .link-navigation li {
    display: inline-block;
    font-size: 1.1rem;
    
}

header .link-navigation li a {
    display: inline-block;
    padding: 20px;
}

header .link-navigation li a:hover {
    background-color: rgba(0, 0, 0, .4);
    opacity: .6;
}

.bg-modal {
    position: fixed;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #161616;
    z-index: 3000;
}

.bg-modal.active {
    animation-duration: 1.7s;
    animation-name: slidein;
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.modal-wrapper.active {
    display: block;
}

.modal-content {
    display: none;
    height: 100%;
    background-color: var(--bg-color);
    grid-template-columns: 3fr 2fr;
}

.modal-content.oneline {
    grid-template-columns: 1fr;
}

.modal-content .modal-slider-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.modal-content .modal-slider-header .svg-close {
    width: 30px;
    height: 30px;
}

.modal-content .modal-slider-header i {
    font-size: 1.4rem;
}

.modal-content .modal-slider-header .modal-compress {
    display: none;
}

.modal-content .modal-description {
    padding: 50px;
}

.modal-content .modal-description > h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

@keyframes slidein {
    from {
      margin-left:0;
      width: 0;
    }
  
    25% {
        margin-left:0;
        width: 100%;
    }

    to {
      margin-left: 100%;
      width: 100%;
    }
}

ul.splide__list li {
    vertical-align: middle;
    display: inline-flex;
    
}

ul.splide__list li > img {
    width: 87%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.section {
    width: 100%;
    position: relative;
    z-index: 2;
}

.section__fullpage {
    min-height: 100vh;
}

.section__title {
    text-align: center;
}

.section__title h1 {
    text-transform: uppercase;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-family: 'Megrim', cursive;
}

.section__title p {
    font-size: 1.4rem;
    margin-top: 40px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-links {
    font-size: 2rem;
    position: absolute;
    left: 50px;
    top:42%;
    transform: translateX(-50%);
}

.social-links a {
    display: block;
    margin-bottom: 10px;
    transition: opacity .1s linear;
}

.social-links a:hover {
    opacity: .5;
}

.bg-darker {
    background-color: rgba(0, 0, 0, .4);
}

.section__darkness-overlay {
    width: 100%;
    height: 250px;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, .4) 0%, transparent 100%);
    top: -250px;
}

.about-me-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 100px 10vw;    
}

.about-me-container__content {
    padding: 30px 20px;
}

.about-me-container__content h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Megrim', cursive;
}

.filter-container {
    width: 100%;
    padding: 100px 10vw;
    display: flex;
    justify-content: space-around;
}

.work-container {
    width: 100%;
    padding: 0 20vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.work-item {
    aspect-ratio: 1;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3));
    
}

.work-item .graphic-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
} 

.work-item.grow-2 {
    grid-column: span 2;
    aspect-ratio: 2;
}

.work-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

/*.work-link__contents {
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}*/

.work-link h2 {
    display: inline-block;
    margin-top: 8vw;
    font-size: 1.2rem;
    font-weight: normal;
}

.work-link p {
    display: inline-block;
    margin-top: .6vw;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-secondary);
}

.work-item .icon-area {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.icon-area i {
    margin: 0 10px;
    font-size: 1.2rem;
}