@use "../utils/mixins" as m;

.about-me-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 100px 10vw;

    @include m.for-phone-only {    
        grid-template-columns: 1fr;
        padding: 100px 0vw
    }

    @include m.for-tablet-portrait-up {    
        grid-template-columns: 1fr;
    }

    @include m.for-tablet-landscape-up {    
        grid-template-columns: 6fr 5fr;
    }

    @include m.for-desktop-up {    
        grid-template-columns: 3fr 2fr;
    }

    &__content {
        padding: 30px 20px;

        h1 {
            font-size: 3rem;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-family: 'Megrim', cursive;
            line-height: 1;
        }

        p {
            margin-left: 5px;
        }
    }

    .stats-wrapper {
        display:flex;
        justify-content: space-around;
        margin-top: 15px;

        .icons-block-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
    
            .icons-block {

                margin-bottom: 7px;

                p {
                    margin-bottom: 10px;
                    margin-left: 5px;
                }

                i {
                    margin: 0 .2em;
                    font-size: 2rem;
                }
            } 
        }

        .user-stats {
            flex: 1;

            .stats-title {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            .top-langs {
                padding: 5px;

                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    i {
                        flex: 0;
                        min-width: 18px;
                        line-height: 22px;
                    }

                    p {
                        word-break: break-all;
                        flex: 1;
                        font-size: 1.1rem;
                    }

                    span {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

}