@use "../utils/mixins" as m;

.social-links {
    font-size: 2rem;
    position: absolute;
    left: 50px;
    top:42%;
    transform: translateX(-50%);
    z-index: 3;

    a {
        display: block;
        margin-bottom: 10px;
        transition: opacity .1s linear;

        @include m.for-phone-only {    
            margin: 0px 7.5px;
        }

        &:hover {
            opacity: .5;
        }
    }

    @include m.for-phone-only {    
        left: 50%;
        top: 80%;
        transform: translateX(-50%) !important;
        display: flex;
    }
}