.work-container {
    width: 100%;
    padding: 0 20%;
    //margin-bottom: 40px;

    &__item {
        aspect-ratio: 1;
        width: 20%; // 30 for tablet and 60 for phones
        border: 1px solid transparent;

        &--thumbnail {

            &::after {
                content: '';
                position:absolute;
                left:0; top:0;
                width:100%; height:100%;
                background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3));
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }

        &--link {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            color: white;
            padding: 0 35px;
            backdrop-filter: blur(0px);
            transition: backdrop-filter .1s ease-in;

            &:hover {
                backdrop-filter: blur(30px);

                & h2 { transform: translateY(-50px); }
                & p { transform: translateY(-50px); }
            }

            h2 {
                display: block;
                padding-top: 11vw;
                font-size: 1.2rem;
                font-weight: normal;
                transition: transform .1s ease-in-out;
            }

            p {
                display: block;
                margin-top: .6vw;
                font-size: 1rem;
                font-weight: 300;
                color: var(--text-secondary);
                transition: transform .1s ease-in-out;
            }
         
            .icon-area {
                margin-top: 30px;
                display: flex;
                justify-content: center;

                i {
                    margin: 0 10px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}